/* شروع کد متن سربرگ */

header {
    background-color: #0066cc; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    width: 80%; 
    align-items: center;
    justify-content: space-between;
  }
  
  .left-image img, .right-image img {
    height: 80px; 
    width: auto;
    object-fit: cover;
  }
  
  .left-image img {
    height: 100px;
  }
  
  .header-text {
    flex: 1;
    text-align: center;
  }
  
  .header-text h1 {
    font-size: 24px;
    color: white;
    margin: 0;
  }
  
  .header-text p {
    font-size: 16px;
    color: white;
    margin: 5px 0 0;
  }
  
  /* پايان کد متن سربرگ */
  
  
  
  /* شروع کد متن خبري */
  marquee{
    background: red;   
    color: white; 
    padding: 10px 0;
    width: 100%;
  }
  /* پايان کد متن خبري */
  
  
  
  /* شروع کد عکس */
  .slider{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
    height: 100vh;
  }
  
  #pic{
    width: 600px;  
    height: 400px;
    object-fit: cover;
  }
  
  
  .dots{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }
  
  .dot{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #aaa;
    margin: 5px;
    cursor: pointer;
  }
  
  .dot.active{
    background: #000;
  }
  /* پايان کد عکس */
  
  
  
  /* شروع بخش چهار باکس */
  .cards{
    width: 900px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  
  .card{
    background: #808080;
    color: #fff;
    border-radius: 18px;
    padding: 30px 25px;
    min-height: 220px;
    text-align: center;
  }
  
  .card h3{
    font-size: 28px;
    margin: 0 0 20px;
  }
  
  .card p{
    font-size: 16px;
    line-height: 1.8;
    margin: 0;
  }
  /* پايان بخش چهار باکس */
  
  
  
  /* شروع بخش اطلاعيه هاي مهم */
  .title{
    text-align: center;
  }
  
  .news{
    width: 600px;
    margin: 20px auto;
  }
  
  .item{
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .item img{
    width: 80px;
    height: 60px;
    object-fit: cover;
    border: 1px solid #ccc;
  }
  
  .text p{
    margin: 5px 0 0;
    font-size: 14px;
  }
  /* پايان بخش اطلاعيه هاي مهم */
  
  
  
  /* شروع کد فوتر */
  
  footer {
    background-color: #003f5f;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .footer-content p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .footer-info p {
    margin: 5px 0;
  }
  
  #today-views, #total-views {
    font-weight: bold;
    font-size: 18px;
  }
  
  
  /* پايان کد فوتر */